body {
  padding-top: 120px;
}

.image-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bs-dark);
  --bs-popover-header-bg: var(--bs-dark);
  --bs-popover-header-color: var(--bs-light);
  --bs-popover-body-bg: var(--bs-light);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: 0.5rem;
}

.nav-link {
  color: #f8f9fa;
  font-size: 14px;
}

.nav-link:hover {
  color: aliceblue;
}

.nav-pills .nav-link:focus {
  color: #f8f9fa !important;
  background-color: #212529 !important;
}

.nav-pills .nav-link.active {
  background-color: #f8f9fa !important;
  color: #212529 !important;
}

.container {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #343a40;
  color: white;
  text-align: center;
}

body {
        padding-top: 120px;
        min-height: 100vh;
        background: #fff;
      }


  .chart-container {
  min-height: 400px;
  width: 100%;
}