body {
  padding-top: 120px;
}

.image-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bs-dark);
  --bs-popover-header-bg: var(--bs-dark);
  --bs-popover-header-color: var(--bs-light);
  --bs-popover-body-bg: var(--bs-light);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: 0.5rem;
}

.nav-link {
  color: #f8f9fa;
  font-size: 14px;
}

.nav-link:hover {
  color: aliceblue;
}

.nav-pills .nav-link:focus {
  color: #f8f9fa !important;
  background-color: #212529 !important;
}

.nav-pills .nav-link.active {
  background-color: #f8f9fa !important;
  color: #212529 !important;
}

.container {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #343a40;
  color: white;
  text-align: center;
}

body {
        padding-top: 120px;
        min-height: 100vh;
        background: #fff;
      }

.container .calendar {
        width: 100%;
        max-width: 400px;
        margin: auto;
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
      }

      .monthYear {
        text-align: center;
        font-weight: 600;
        width: 150px;
      }

      .header button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        width: 40px;
        height: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }

      .days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
      }

      .day {
        text-align: center;
        padding: 5px;
        color: #999fa6;
        font-weight: 500;
      }

      .dates {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
      }

      .date {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
        margin: auto;
        cursor: pointer;
        font-weight: 600;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        transition: 0.2s;
      }

      .date:hover{
        background: #000;
        color: #fff;
      }

      .date.inactive {
        color: #d2d2d2;
      }

      .date.inactive:hover {
        color: #fff;
      }
      .date.selected {
      background: #000 !important;
      color: #fff !important;
      border-radius: 50%;
    }

    .date.active:not(.selected) {
      background: #8d8383;
      color: #fff;
      border-radius: 50%;
    }

    .fixed-calendar-height {
    min-height: 380px;
    position: relative;
  }